<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="login-title" style="text-align: center;">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="img">
    <img src="assets/logo.png" alt="Logo">
  </div>
  <div class="login-form">
    <ion-item class="input-field">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item class="input-field">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="full" color="danger" (click)="login()">Login</ion-button>
  </div>
</ion-content>
