<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>car-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">car-page</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input label="Masukkan Plat Nomor"></ion-input>
    </ion-item>
  </ion-list>
  

  <ion-card>
    <ion-item>
      <ion-label position="stacked">License Plate</ion-label>
      <ion-input type="text" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Driver 1</ion-label>
      <ion-input type="text" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Driver 2</ion-label>
      <ion-input type="text" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Status" placeholder="Status">
        <ion-select-option value="Memuat">Memuat</ion-select-option>
        <ion-select-option value="Berangkat">Berangkat</ion-select-option>
        <ion-select-option value="Terkendala">Terkendala</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block">Ubah Status</ion-button>
  </ion-card>
</ion-content>
